button {
  display: block;
  padding: 10px 32px;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: roboto, sans-serif;
  border: none;
  border-radius: 4px;
}

.btn{
  display: flex;
  border: none;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  
  transition: background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
  
  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.btn-secondary {
    padding: 6px 22px;

    color: var(--title-text-color);
    background-color: var(--btn-portfolio);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition: background-color 250ms var(--cubic-bezier),
               color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);

  .active,
  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

.footer__btn{
  display: flex;
  align-items: center;
  margin: 0 auto;

  transition: background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);

&:hover,
&:focus{
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 background-color: var(--button-hover-color);
}
&-text{
  display: flex;
  gap: 10px;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-right: 10px;
}
}

.form__button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cu__ic-bezier);

&:hover,
&:focus{
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
}
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  background-color: var(--white-color);
  padding: 0;
  transition: color 250ms var(--cubic-bezier), border-color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier);
&:hover,
&:focus {
  color: var(--white-color);
  background-color: #F41907;
  border-color: #F41907;
}
}

.header__container .menu__btn{
  margin-left: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: var(--white-color);
  border: none;
  transition: fill 250ms var(--cubic-bezier);
  @media screen and (min-width: 768px) {
    display: none;
  }
}