.footer-nav__logo {
  @extend %reset-link;
  display: block;
  margin-bottom: 20px;

  color: var(--white-color);
  font-family: raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}