.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  background-color: var(--white-color);

  @media screen and (max-width: 479px) {
    min-width: 320px;
    height: 609px;

    transform: translate(-54%, -30%);
  }
  @media screen and(min-width:480px) and (max-width: 767px) {
    width: 450px;
    height: 609px;

    transform: translate(-54%, -35%);
  }

  @media screen and(min-width:768px) and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  
    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
.modal-text {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;

  color: var(--title-text-color);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;

}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--cubic-bezier),
  visibility 250ms var(--cubic-bezier);

    @media screen and (max-width: 767px) {
      overflow-y: scroll;
    }

  width: 100%;
  height: 100%;

  background-color: var(--bg-color-backdrop);
}
.modal__svg {
  fill: currentColor;
}
