.portfolio-image {
  position: relative;
  overflow: hidden;
}
.projects__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 322px;
  max-height: 168px;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}
.projects-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--bg-color-portfolio-opacity);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-bezier), 
              box-shadow 250ms var(--cubic-bezier),
              opacity 250ms var(--cubic-bezier);
.projects__link:hover &,
.projects__link:focus & {
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
.projects__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__title {
  margin-top: 4px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}