:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --button-hover-color: #188ce8;
  --btn-portfolio: #f5f4fa;
  --footer-link: rgba(255, 255, 255, 0.6);
  --filter-background: #eeeeee;
  --border-line: solid #ececec;
  --social-icons: #afb1b8;
  --projects-border-line: solid #eeeeee;
  --clients-border: solid #afb1b8;
  --bg-icons-footer: rgba(255, 255, 255, 0.1);
  --page-hero-bg: #c4c4c4;
  --page-hero-gradient: rgba(47, 48, 58, 0.4);
  --bg-color-portfolio-opacity: rgba(33, 150, 243, 0.9);
  --bg-color-backdrop: rgba(0, 0, 0, 0.2);
  --bg-color-examples: rgba(47, 48, 58, 0.8);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
  --items: 4;
}