.advantages{
  @extend %section;

  & .advantages__item:not(:first-child){
    gap: 30px;
}
}
.advantages__container{
  display: flex;
  align-items: center;
  justify-content: center
}
.advantages__list {
  @extend %reset-list;
  display: flex;
  flex-wrap: wrap;
  --items: 1;
 
  @media screen and (min-width: 768px){
    --items: 2;
  }
  @media screen and (min-width: 1200px){
    --items: 4;
 }
}
.advantages__title {
  display: flex;
  line-height: 1.71;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.advantages__subtitle {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 9px;

  @media screen and (max-width:767px) {
    align-items: center;
    justify-content: center ;
  }
}
.advantages__icon {
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--btn-portfolio);
  border-radius: 4px;

  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and(min-width:480px) and (max-width: 767px) {
    width: 480px;
  }
  @media screen and (min-width: 768px){
    width: 354px;
  }
  @media screen and (min-width: 1200px){
    width: 270px;
  }
}

