.clients{
  @extend %section;
}
.clients__list {
  @extend %reset-list;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  --items: 2;
  @media screen and (min-width: 768px) {
    --items: 3;
  }
  @media screen and (min-width: 1200px) {
    --items: 6
  }
}

.clients__link {
  @extend %reset-link;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  color: var(--social-icons);
  border: 1px var(--clients-border);
  border-radius: 4px;
  transition: color 250ms var(--cubic-bezier),
    border-color 250ms var(--cubic-bezier);
&:hover,
&:focus {
  color: var(--accent-color);
  border-color: 1px var(--accent-color);
  border-radius: 4px;
}
}
.clients__svg {
  fill: currentColor;
}
