.hero{
  @extend %section;

  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  max-width: 480px;
  height: 400px;

  background-color: var(--page-hero-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(
    to right,
    var(--page-hero-gradient),
    var(--page-hero-gradient)
  ),
  url(../images/hero/header-img@1x_sm.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        background-image: 
          linear-gradient(
          to right,
          var(--page-hero-gradient),
          var(--page-hero-gradient)
        ),
          url(../images/hero/header-img@2x_sm.jpg);
      }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
    to right,
    var(--page-hero-gradient),
    var(--page-hero-gradient)
  ),
  url(../images/hero/header-img@1x_md.jpg);
  @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        background-image: 
          linear-gradient(
          to right,
          var(--page-hero-gradient),
          var(--page-hero-gradient)
          ),
          url(../images/hero/header-img@2x_md.jpg);
      }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: 
      linear-gradient(
      to right,
      var(--page-hero-gradient),
      var(--page-hero-gradient)
      ),
      url(../images/hero/header-img@1x_lg.jpg);
  
  @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
        background-image: 
          linear-gradient(
            to right,
            var(--page-hero-gradient),
            var(--page-hero-gradient)
          ),
          url(../images/hero/header-img@2x_lg.jpg);
        }
  }
  
}
.hero__title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 696px;
  margin: 0 auto; 
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
 
  @media screen and (min-width:768px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px){
    width: 1200px;
    font-size: 44px;
    line-height: 1.36;
  }

}