.nav__site,
.nav__info{
  @extend %reset-list;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__container .nav__info {
  margin-left: auto;
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
    gap: 30px;
  }
}

.nav__site{
 gap: 50px;
}

.nav__item {
  position: relative;
}

.nav__link {
  @extend %reset-link;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  display: block;
  transition: color 250ms var(--cubic-bezier);

&:hover,
&:focus {
  color: var(--accent-color);
}
}
.nav__link--current {
  @extend %reset-link;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  display: block;
  transition: color 250ms var(--cubic-bezier);

&::after {
  position: absolute;
  content: "";
  bottom: 0;
  display: block;
  background-color: #188ce8;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transform: scaleX(1);
}
}

.nav-info__link{
  @extend %reset-link;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--cubic-bezier);

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

&:hover,
&:focus{
  color: var(--accent-color);
}
}

.nav__svg {
  margin-right: 10px;
  fill: currentColor;
}